[*]
indent_style = space
indent_size = 4

[*.cs]
insert_final_newline = true
csharp_space_after_keywords_in_control_flow_statements = true:warning
csharp_space_after_cast=true

[*.{csproj,props,targets,yml,json}]
indent_size = 2

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0072: Add missing cases
dotnet_diagnostic.IDE0072.severity = none