g_old/
_old3/
MsfTest/
PDB/_old/
.idea/
BenchmarkDotnet.Artifacts/
PESpy.Benchmarks/
PESpyUI/
CorBBTProf*
src/PESpy/PDB/Builder/
SymTypeBuilder.cs
Mod1Builder.cs
PDB1Builder.cs
PDBPatcher.cs
src/PESpy/FuncInfo.cs
TypTypeBuilder.cs
LegacyShim/
ReSharperMenu/
MockGraphics.cs
.stfolder/
.stignore
Design/
_GetDgmlFile.cs

# NGEN unimplemented types
CorCompileMethodProfileList.cs
CorCompileVirtualImportThunk.cs
CorCompileExternalMethodThunk.cs
CorCompileExceptionLookupTableEntry.cs
CorCompileColdMethodEntry.cs
CorCompileDebugLabelledEntry.cs
CorCompileEEInfoTable.cs
CorCompileExceptionClause.cs
CorCompileExceptionLookupTable.cs

MainWindow.Test.cs

#################
# Visual Studio #
#################

# Build results
[Bb]in/
artifacts/

# NuGet Packages Directory
packages/

# NuGet Packages
*.nupkg
*.snupkg
*.zip

# MSBuild logs
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/

# ReSharper settings
*.DotSettings

# User-specific files
.vs/
*.user

####################
# Windows detritus #
####################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

##################
# MacOS detritus #
##################

# Folder config file
.DS_Store